service:
  name: mackerel-integrations

# Add the serverless-webpack plugin
plugins:
  - serverless-plugin-typescript

provider:
  name: aws
  region: ap-northeast-1
  runtime: nodejs8.10
  memorySize: 128
  iamRoleStatements:
    - Effect: Allow
      Action:
        - cloudwatch:Describe*
        - cloudwatch:Get*
        - cloudwatch:List*
      Resource: "*"
  environment:
    MACKEREL_API_KEY: ""

functions:
  aws-billing:
    handler: handlers/aws/billing.run
    environment:
      MACKEREL_SERVICE_NAME: ""
    events:
      - schedule:
          rate: rate(30 minutes)
          enabled: true

  analytics:
    handler: handlers/analytics.run
    environment:
      GA_PRIVATE_KEY: ""
      GA_CLIENT_EMAIL: ""
      GA_VIEW_ID: ""
      MACKEREL_API_KEY: ""
      MACKEREL_SERVICE_NAME: ""
      MACKEREL_METRIC_NAME: ""
    events:
      - schedule:
          rate: rate(1 minute)
          enabled: true

  hatebu.total-bookmarks:
    handler: handlers/hatebu-total-bookmarks.run
    environment:
      BOOKMARK_URL: ""
      MACKEREL_API_KEY: ""
      MACKEREL_SERVICE_NAME: ""
      MACKEREL_METRIC_NAME: ""

  nature-remo:
    handler: handlers/nature-remo.run
    environment:
      ACCESS_TOKEN: ""
      MACKEREL_API_KEY: ""
      MACKEREL_SERVICE_NAME: ""
      MACKEREL_METRIC_NAME: ""
    events:
      - schedule:
          rate: rate(5 minutes)
          enabled: true
